{% extends 'base.html' %} {% block title %} Edit your password {% endblock title
%} {% block body %}
<div class="container my-3 text-center">
    <h1>Edit your password</h1>
    <br /><br /><br />

    <form action="/account/edit/pass" method="post">
        <input
            type="password"
            name="old"
            placeholder="Old Password"
            class="my-3"
        /><br />
        <input
            type="password"
            name="new"
            placeholder="New Password"
            class="my-3"
        /><br />
        <input
            type="password"
            name="confirm"
            placeholder="New Password Again"
            class="my-3"
        /><br />
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="alert alert-danger" role="alert">{{message}}</div>
        {% endfor %} {% endif %} {% endwith %}
        <button type="submit" class="my-3 btn btn-outline-primary">Save</button>
    </form>
</div>
{% endblock body %}
